<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Yoctle: a tiny web search engine">
	<meta name="keywords" content="search, information retrieval, web">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- Compiled and minified CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<title>Yoctle: a tiny web search engine</title>

	<script>
		$(function(){
			$('form[role="search"]').on('submit', function(){
				$.ajax({
					type: "POST",
					url: "{{ url_for('search') }}",
					contentType: "application/json",
					dataType: "json",
					data: JSON.stringify({
						query: $('input[name="q"]').val()
					})
				}).done(function (response) {
					$('div.result-area').html('');
					var $list = $('<ul id="target"></ul>');
					$('div.result-area').append($list);
					console.log(response);
					$.each(response.results, function(i, item){
						$list.append(
							$('<li></li>')
								.addClass('card-panel')
								.append(
									$('<a></a>')
										.attr('href', item.href)
										.text(item.title)
								)
								.append(
									$('<blockquote></blockquote>')
										.addClass('card-text snippet')
										.html(item.snippet)
								)
						);
					});
					Materialize.showStaggeredList('#target');
				}).fail(function (error) {
					$('div.result-area').html('An error occured while performing the search. Try using our <a href="https://www.google.com">competitor<a>.');
					console.log(error);
				});
				return false;
			});
		});
	</script>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<form class="form-inline" role="search">
				<div class="input-field">
					<input name="q" id="search" type="search" required>
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="card-panel">
				<span>You will see search results here.</span>
			</div>
		</div>
		<div class="result-area"></div>

		<footer class="footer">
			<hr>
			<div class="row">
				<div class="col m8">
				</div>
				<div class="col m4">
					<p class="muted pull-right">© iRnWs by ChipaKraken, 2017</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>